.chat-box {
  // border: 2px solid red;
  // width: 70vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  position: relative;
  // margin: auto;
  box-shadow: 1px 2px 4px gray;
}
.chat-header {
  // border: 2px solid blue;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(215, 184, 10);
  text-align: center;
  position: relative;
  > a {
    position: absolute;
    left: 10px;
    cursor: pointer;
  }
}
.name {
  color: rgb(121, 61, 2);
}
.chat-content {
  height: 100%;
  // border: 2px solid green;
  box-sizing: border-box;
  padding: 0px 30px;
  overflow: auto;
}

.send-box {
  // border: 2px solid blue;
  height: 8%;
  form {
    height: 100%;
    width: 100%;
    display: flex;
    input {
      height: 100%;
      width: 100%;
      // border: none;
      outline: none;
      padding: 0px 30px;
      font-size: 18px;
      background-color: rgb(40, 40, 40);
      color: rgb(255, 255, 255);
      &[type="submit"] {
        width: 10%;
        background-color: rgb(255, 149, 0);
        padding: 0px;
        &:hover {
          background-color: rgb(116, 14, 14);
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .chat-header {
    h2 {
      font-size: 15px;
      margin-left: 30px;
    }
    > a {
      font-size: 13px;
    }
  }
}
